body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 40px auto;
}

section {
    margin-bottom: 30px;
}

input {
    padding: 6px;
    margin: 4px;
}

button {
    padding: 6px 10px;
    cursor: pointer;
}

.card {
    transition: all 0.3s ease;
    border: 1px solid #ddd; /* Contorno cinza claro */
    background: #fff;       /* Fundo branco */
    padding: 16px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.history-box {
    margin-top: 8px;
    font-size: 0.85em;
    background: #bbbbbb;
    padding: 6px;
    border-radius: 6px;
}

.history-line {
    background: #0f172a;
    color: #e5e7eb;
    padding: 6px 10px;
    margin: 4px 0;
    border-radius: 4px;
}

.line-success {
    border-left: 4px solid #22c55e;
}

.line-error {
    border-left: 4px solid #ef4444;
}

.type-badge {
    color: #94a3b8;
    font-weight: bold;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-btn {
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
}
.latency-btn {
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
}

.update-btn {
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
}

.delete-btn {
    font-size: 12px;
    padding: 4px 8px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.button-group button {
    width: 160px;
    padding: 5px;
    font-size: 0.85em;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #f8f9fa;
}

.button-group button:hover {
    background: #e2e6ea;
}

#alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 320px;
    z-index: 9999;
}

.alert-card {
    background: gray;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
    animation: slideIn 0.3s ease-out;
}

.alert-up {
    border-left: 10px solid #28a745;
}

.alert-down {
    border-left: 10px solid #dc3545;
}

.alert-degraded {
    border-left: 10px solid #ffc107;
}

@keyframes slideIn {
    from { transform: translateX(40px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.modal {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 320px;
}

.modal input {
  width: 93%;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}




.bg-success { background-color: #28a745; } /* Verde */
.bg-danger { background-color: #dc3545; }  /* Vermelho */
.bg-warning { background-color: #ffc107; } /* Amarelo */
.bg-secondary { background-color: #6c757d; } /* Cinza */
