NETSPOT_SECRET_KEY=key_secreta
NETSPOT_TELEGRAM_BOT_TOKEN=telegram_bot_token
NETSPOT_TELEGRAM_CHAT_ID=telegram_chat_id
NETSPOT_DEFAULT_ADMIN_PASSWORD=senha_padrao
DATABASE_URL=postgresql://netspot:netspot_password@localhost:5432/netspot
RABBITMQ_HOST=localhost
